body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    gap: 300px;
}

ul{
    display: flex;
    list-style: none;
}

.header li {
    margin: 0 10px;
    font-weight: bold;
}

.header img {
    height: 48px;
    margin: 10px 25px;
}

a {
    text-decoration: none;
    color: white;
}

.section-one,
.section-two,
.section-three,
.section-four {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    flex-direction: column;
}

.section-one {
    background-color: #1F2937;
    flex-direction: row;
}

.text {
    width: 600px;
    height: 150px;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-between;
}

.title {
    font-size: 48px;
    font-weight: 700;
}

.text .title {
    margin: 0;
}

.text .subtext {
    color: rgb(169, 169, 169);
}

button {
    border-radius: 10px;
    border: none;
    font-weight: bold;
    width: 100px;
    height: 30px;
}

.text button {
    color: white;
    background-color: #3882f6;

}

.section-one img {
    width: 300px;
    height: 150px;
    background-color: gray;
    text-align: center;
    line-height: 150px;
}

.section-two {
    justify-content: start;
}

.section-two .title {
    color: black;
}

.section-two ul {
    gap: 72px;
}

.section-two li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-two img {
    height: 120px;
    width: 120px;
    border: 3px solid #3882f6;
    border-radius: 10px;
    text-align: center;
    line-height: 120px;
}

.section-two .subtext {
    text-align: center;
    color: gray;
    width: 120px;
    font-size: 12px;
}

.section-three {
    background-color: rgba(150, 150, 150, 0.668);
}

.section-three blockquote{
    width: 800px;
    font-size: 24px;
}

.section-three cite {
    width: 800px;
    text-align: end;
    font-size: 18px;
    font-weight: 700;
}

.section-four {
    height: 150px;
    width: 800px;
    margin: 70px auto;
    background-color: #3882f6;
    border-radius: 10px;
    flex-direction: row;
}

.section-four .text-container {
    width: 500px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.section-four .title {
    font-size: 24px;
    margin: 0;
}

.section-four .subtext {
    margin: 0;
}

.section-four button {
    color: white;
    background-color: #3882f6;
    border: 2px solid white;
}

.footer {
    height: 70px;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}